body{
    margin:auto;
    background-color: #e60000;
}

#logo{
	max-width:none;
    max-height:7em;
}

#header{
    color:white;
    background-color:#262626;
    min-height:7em;
}

#menu{
    list-style-type:none;
    text-align:right;
    font-size:0.9em;
    margin-top:1.5em;
    margin-right:1em;
	max-width:none;
}
#currentLink{
    background-color:#cccccc;
    padding:0.8em;/*non lo prende*/
    color:black;
}
#menu > li{
    text-align:center;
    display:inline-block;
}
#menu li{/*è solo per il currentLink*/
	text-align:initial;
	display:unset;
	margin:initial;
	padding:0.8em;
	border:none;
}

#menu > li:not(#currentLink){
	text-align:initial;
	display:unset;
	margin:initial;
	padding:initial;
	border:none;
}
#menu > li:last-of-type {
  margin-bottom:auto;
}
#menu > li:first-of-type {
  margin-top:auto;
}
#menu li > a{
    text-decoration:none;
    color:white; 
    padding:0.6em;/*piccola diff tra li attivo e a*/
}
#menu li > a:hover:not(.no){/*class no se si vuole da aggiungere a header.php*/
    box-shadow: inset 0 0 0 2px #ffffff;;
    /*transition: all 1s;*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {/*ul*/
    display: none;
    position: absolute;
    z-index: 1;
    margin-top:1em;
	margin-bottom:auto;
	margin-left:auto;
    list-style-type: none;
	min-width:13em;
	text-align:left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#content h1{
    font-size:1.5em;
}
#content h2{
    font-size:1.1em;
    margin-top: 0.5em;
}
#breadcrumbs{
    background-color:silver;
    padding: 0.5em;
	color:black;
}
#formRicerca{
	width:14em;
}
#formRicerca input[type=text]{
	width:11em;
	border:none;
	margin:0.1em;
	padding:0.5em;
	float:left;
}
#formRicerca input[type=submit]{
	float:right;
	border:none;
	background-image:url('../img/header/search.svg');
	width:2em;
    height:2em;
	margin:0.2em;
	cursor: pointer;
}
#content{
    xbackground-color:white;
	background-color:#f1f1f1;
    padding:2em;
}
#content h1{
    font-size:1.5em;
}
#content h2{
    font-size:1.1em;
}
#eventoprincipale{
    text-align:justify;
    padding-right:2em;/*temporaneo*/
}
#eventoprincipale h1{
    margin-bottom:0.5em;
}
.riquadro{
	padding:2em;
	background-color:white;
	margin-bottom: 2em;
}
#elencoMostre ul {
	padding:2em;
}
#presentazionegenerale{
    text-align:justify;
    xpadding:2em;
    padding-left:6em;
    padding-right:6em;
}
#presentazionegenerale p{
    margin-top:1em;
}
#eventiprossimi{
    text-align:justify;
    /*padding:2em;*/
}
#eventiprossimi p{
    text-align:justify;
    padding-top:1em;
}
#eventiprossimi .treColonne{
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;  
}
#eventiprossimi .treColonne img{
    width:100%;
}

#maps{
	display:block;
	width:80%;
	height:20em;
	margin:auto;
}

.tablemodelli th{
    background-color:silver;
    text-align: left;
    padding: 0.5em;
}
.tablemodelli td{
	background-color:white;
    padding:0.5em;
}

.infomodello{
	margin-bottom:0.9em;
    padding-right:2em;
}
.fotomodello{
	xmargin-top:2.2em;
}
.pulsantePag a{
	text-decoration:none;
}
.pulsantePag{
	width:33.3%;
	margin-top:2em;
}
#next, #back, #current{
	color:white;
	text-align:center;
	width:60%;
	background-color:#262626;
	padding:0.5em;
	margin:0.5em;
	margin-left:auto;
	margin-right:auto;
}
#prenotabiglietti h1{
	font-size:1.5em;
	padding:0.3em;
}
/*FOOTER*/
#footer{
    padding:2em;
    text-align:center;
	color:white;
    background-color:#262626;
}
#footer img{
	width:40%;
	margin-top:0.8em;
}
#footer p{
	margin-top:auto;
	margin-bottom:auto;
}
#toTop{
	background-image:url('../img/header/toTop.svg');
	position:fixed;
	bottom: 2em;
	right: 2em;
    width:3em;
    height:3em;
}
#contentwhite{
background-color:white;
padding:2em;
}

.forminfo{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.forminfo input{
	margin-bottom: 0.5em;
}
#newsletter h1{
	margin-bottom:0.3em;
}
#comeRaggiungerci h1{
	margin-bottom:0.3em;
}
#contattaci h1{
	margin-bottom:0.3em;
}

.desktopnone{
    display: none;
}
.container{
    overflow:hidden;
}

.treColonne {
	width:33.33%;
    margin:auto;
}

.col-xl-1 {width: 25%;}
.col-xl-2 {width: 50%;}
.col-xl-3 {width: 75%;}
.col-xl-4 {width: 100%;}
/*per fare tre colonne usare un div con classe container 
nel quale inserire tra div con classe treColonne*/
