body{
    margin:auto;
    background-color: #e60000;
}

#logo{
	max-width:none;
    max-height:7em;
}

#header{
    color:white;
    min-height:7em;
}

#menu{
    text-align:right;
    font-size:0.9em;
    margin-top:1.5em;
    margin-right:1em;
	max-width:none;
}

#menu > li{
    text-align:center;
    display:inline-block;
}

#menu li{/*è solo per il currentLink*/
	display:unset;
	margin:initial;
	padding:0.8em;
	border:none;
}

#menu > li:not(#currentLink){
	padding:initial;
}

#menu > li:last-of-type {
  margin-bottom:auto;
}

#menu > li:first-of-type {
  margin-top:auto;
}

#menu li > a{
    padding:0.6em;/*piccola diff tra li attivo e a*/
}

#breadcrumbs{
    padding: 0.5em;
}
#content{
	background-color:#f1f1f1;
    padding:2em;
}
#content h1{
    font-size:1.5em;
}
#content h2{
    font-size:1.1em;
}
#contentwhite{
    background-color:white;
    padding:2em;
}
#contentwhite h1{
    font-size:1.5em;
}
#contentwhite h2{
    font-size:1.1em;
}
#formRicerca{
	width:14em;
}
#formRicerca input[type=text]{
	width:11em;
}

#eventoprincipale{
    text-align:justify;
    padding-right:2em;/*temporaneo*/
}
#eventoprincipale h1{
    margin-bottom:0.5em;
}
#eventiprossimi{
    text-align:justify;
}
#eventiprossimi p{
    text-align:justify;
    padding-top:1em;
}
#eventiprossimi .treColonne{
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;  
}

/*MOSTRE*/
.riquadro{
	padding:2em;
}
#elencoMostre ul {
	padding:1em;
}
#presentazionegenerale{
    text-align:justify;
    padding-left:6em;
    padding-right:6em;
}
#presentazionegenerale p{
    margin-top:1em;
}

.tablemodelli td{
    padding:0.5em;
}

.tablemodelli th{
    padding: 0.5em;
}

.infomodello{
	margin-bottom:0.9em;
    padding-right:2em;
}

.pulsantePag a{
	text-decoration:none;
}
.pulsantePag{
	width:33.3%;
	margin-top:2em;
}
#next, #back, #current{
	width:50%;
}

#prenotabiglietti h1{
	font-size:1.5em;
	padding:0.3em;
}

.formfield p{
	padding-left:1em;
}

#newsletter, #comeRaggiungerci, #contattaci{
	padding:1em;
}

#maps{
	width:80%;
	height:20em;
}

#totop{
	background-image:url('../img/header/toTop.svg');
	position:fixed;
	bottom: 2em;
	right: 2em;
    width:3em;
    height:3em;
}

/*FOOTER*/
#footer img{
	width:40%;
	margin-top:0.8em;
}
#footer p{
	margin-top:auto;
	margin-bottom:auto;
}

.desktopnone{
    display: none;
}
/*.container{
    overflow:hidden;
}*/

.treColonne {
	width:33.33%;
    margin:auto;
}
.center{
	text-align:center;
}
.col-xl-1 {width: 25%;}
.col-xl-2 {width: 50%;}
.col-xl-3 {width: 75%;}
.col-xl-4 {width: 100%;}
/*per fare tre colonne usare un div con classe container 
nel quale inserire tra div con classe treColonne*/
